<% layout('layouts/boilerplate.ejs') %> 

<h2>All events</h2>
<div class="row">
    <% for (event of events) { %>
        <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="<%=event.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=event.name%></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/events/<%=event._id%>" class="btn btn-primary">Event details</a>
            </div>
        </div>
        </div>
    <% } %> 
</div>